.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.disable-text-selection{
  user-select:none;
 -ms-user-selec:none;
 -moz-user-select:none;
 -webkit-user-select:none;
}

.textarea {
  resize: none;
}

.form-focus:focus{
  border-color: #f87171;
  box-shadow: 0 0 0 0.1rem #ff2f2f;
}

.bottom-bar{
  position:fixed;
   bottom:0;
   background-color: rgb(53, 112, 250);
   width: 100%;
   color: rgb(222, 222, 222);
   height: 40px;
}

.bottom-bar{
  position:fixed;
   bottom:0;
   background-color: rgb(53, 112, 250);
   width: 100%;
   color: rgb(222, 222, 222);
   height: 40px;
}
.modal {
  background-color: rgba(21, 21, 21, 0.7);
}

.modal-height {
  height: 70%;
}